.lang-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}
.centered {
    text-align: center;
}

.switch {
    padding-left: 1rem;
}

.select-box {
}
