.vocabulary-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 300px;
}
.text {
    font-weight: bold;
}

.foreignText {
    font-weight: normal;
}
