.question-answer-container {
    border: 1px red solid;
}

.centered {
    text-align: center;
}

.nextToken {
    font-weight: bold;
}
.action-button {
    margin-top: 1rem;
    margin-left: 1rem;
}
.checkButton {
    margin-bottom: 1rem;
    margin-left: 1rem;
}
