.question-answer-container {
    border: 1px red solid;
}

.centered {
    text-align: center;
}
.spaceTokenInput {
    margin-bottom: 1rem;
}

.nextToken {
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 1.4rem;
}
.action-button {
    margin-top: 1rem;
    margin-left: 1rem;
}
.checkButton {
    margin-bottom: 1rem;
    margin-left: 1rem;
}
