/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
:root {
    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;
    --border: #2e303a;
}
