.question-answer-result-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.icon-color-success {
    color: green;
}

.icon-color-failure {
    color: red;
}
.text {
    margin-left: 0.5rem;
}
